.adBottomFix{
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -10px);
    display: none;
}
#xtoHideadBottomFix {
    position: absolute;
    right: -20px;
    color: #ffffff;
    top: -20px;
    padding: 6px 10px;
    /* padding-right: 10px; */
    background-color: #999999;
    border-radius: 20px;
    line-height: 15px;
    border: 5px solid #ffffff;
}
.dfpCodes{
    text-align: center;
}
